body {
    background-color: #68A7AD;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.result {
    font-size:x-large;
    padding: 2rem;
    background-color: white;
    color: black;
    font-weight: bold;
}

.centered {
    width: 50vw;
    margin: auto;
}

.container {
    border-radius: 1.5rem;
    border: 2px black solid;
    padding: 2rem;
}

.d-none { display: none; }
.d-block { display: inline-block; }

